html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background:#13485e url(./images/body_bg.png) repeat-x left top;
    line-height: 1;
    font-family:Arial;
    font-size:10px;
    color:#3c95c4;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


#wrapper {
    width:700px;
    height:auto;
    margin:0 auto;
}

#header-wrapper {
    width:698px;
    height:159px;
    background-color:#16546e;
    border-left:1px solid #1c6182;
    border-right:1px solid #1c6182;
    border-bottom:1px solid #1c6182;
    position:relative;
}

#content-wrapper {
    width:680px;
    height:auto;
    background-color:#103343;
    border-bottom:1px solid #1b5371;
    padding:10px;
}

#content-area {
    width:450px;
    height:auto;
    float:left;
}

#module-area {
    width:200px;
    height:auto;
    float:right;
}

#footer {
    background:url(./images/footer_bg.jpg) repeat-x left top;
    width:400px;
    height:25px;
    line-height:25px;
    padding:0 15px 0 15px;
    font-family:Verdana;
    color:#0d485d;
    margin:23px auto;
    text-align:center;
}

.clear {
    height:0 !important;
    margin:0 !important;
    padding:0 !important;
    width:0 !important;
    clear:both !important;
}

/* --- Menu style --- */

#menu-wrapper {
    margin-top:35px;
    background-color:#062536;
    width:100%;
    height:44px;
    border-top:1px solid #134662;
    border-bottom:1px solid #134662;
}

#menu-wrapper ul {
    margin:0 auto;
    height:44px;
    width:700px;
}

#menu-wrapper ul li {
    float:left;
    height:44px;
}

#menu-wrapper ul li.menu-link {
    margin:0 10px 0 10px;
    line-height:44px;
    height:44px;
}

#menu-wrapper ul li.menu-link a {
    font-family:Verdana;
    font-size:12px;
    color:#8a959a;
    text-decoration:none;
}

#menu-wrapper ul li.menu-link a:hover {
    color:#aebac0;
}

#menu-wrapper ul li.menu-spacer {
    background:url(./images/menu_spacer.png) no-repeat left top;
    width:5px;
    height:44px;
}

/* --- Content area style --- */
.content-box {
    width:470px;
    height:auto;
    background-color:#155f79;
    border-bottom:1px solid #13485b;
    margin-bottom:10px;
}

.content-header {
    background-color:#115269;
    height:19px;
    width:460px;
    line-height:19px;
    border-bottom:1px solid #104e64;
    padding-left:10px;
    font-family:Verdana;
    color:#287994;
}

.content-body {
    padding:10px;
}

/* --- Module area style --- */
.module-box {
    width:200px;
    height:250px;
    background-color:#115a72;
    border-bottom:1px solid #13485b;
    margin-bottom:10px;
}

.module-header {
    background-color:#0e4b60;
    height:19px;
    width:190px;
    line-height:19px;
    border-bottom:1px solid #104e64;
    padding-left:10px;
    font-family:Verdana;
    color:#206d87;
}

.module-body {
    padding:10px;
}